.Main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
  background-color: #eee;
}

.Main-content {
  max-width: 800px;
  margin: auto;
  padding-top: 2em;
}

.Main-menu {
  margin: 0;
  max-width: 400px;
  margin: auto;
}

.Main-menuItem + .Main-menuItem {
  margin-top: 1em;
}

.Main-menuItem {
  list-style: none;
  display: block;
  text-decoration: none;
  color: inherit;
  opacity: 0.8;
  padding: 1em 1.5em;
  border: 2px solid #dfdede;
  font-size: 20px;
  border-radius: 3px;
  transition: all 0.12s ease-out;
}

.Main-menuItem:hover {
  background-color: #eee;
  opacity: 1;
}

.Main-menuItem:active {
  transform: translateY(1px);
}
